<div class="row">
    <div class="col s12 m10 offset-m1 l8 offset-l2">
        <div class="card">
            <div class="card-image">
                <img src="/images/coins-cryptos.jpg" alt="idea-eth image">
                <span class="with-text card-title">Registrar Crypto</span>
            </div>
            <form autocomplete="off" action="/projects/add" method="POST">
            <div class="card-content">
                 
                 <div class="input-field">
                        <label for="project-name">Simbolo</label>
                        <input
                        placeholder="Ingrese simbolo"
                         type="text" 
                        id="coin-symbol" 
                        name="symbol"
                        class="validate">
                    </div>

                    <div class="input-field">
                        <label for="project-name">Nombre de la Crypto</label>
                        <input
                        placeholder="Ingrese nombre de la crypto/coin"
                         type="text" 
                        id="coin-name" 
                        name="name"
                        class="validate">
                    </div>

                    <div class="input-field">
                        <label for="project-description">
                           Cantidad
                        </label>
                        <textarea name="quantity" id="coin-quantity"
                        class="materialize-textarea" placeholder="25.89"></textarea>
                    </div>
            </div>
            <div class="card-action">
                <button type="submit" 
                class="blue darken-3 waves-effect waves-light btn">
                <i class="material-icons left">note_add</i>Guardar
                </button>
            </div>
            </form>
        </div>
    </div>
</div>