<br><br>
<div class="row center black darkten-4"
 style="padding:2em;border-radius: 1em;">
<h1 class="header center lime-text text-darken-1">Project Wallet</h1>
<div class="row center">
<h5 class="header col s12 light grey-text text-darcken-3"> 
    Una aplicacion que te permitira apuntar y escribir los coins y Cryptos
    de tu wallet 
</h5>
</div>
<div class="row center">
    <a href="#" class="btn-large lime darken-4 black-text text-darcken-3">Registrar Crypto</a>
</div>
</div>